@using ServiceStack;
@using ServiceStack.Razor
@using AgeReadyNowSS.ServiceModel
@using AgeReadyNowSS.ServiceModel.Types

@inherits ViewPage<AssessmentResponse>

@{
    Layout = "_Layout";
    var nextLink = new AssessmentRequest()
    {
        ParentId = Model.ParentId,
        CurentPage = Model.CurrentPage,
        NextPage = Model.CurrentPage + 1,
        Domain = Model.Domain
    }.ToGetUrl();

    var prevLink = new AssessmentRequest()
    {
        ParentId = Model.ParentId,
        CurentPage = Model.CurrentPage,
        NextPage = Model.CurrentPage - 1,
        Domain = Model.Domain
    }.ToGetUrl();

    var exitLink = new ParentSummaryRequest()
    {
        Id = Model.ParentId
    }.ToGetUrl();

}

<div class="container assessment">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">@Model.Domain Assessment</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="@Html.Raw(new HomeRequest().ToGetUrl())">Home</a>
                </li>
                <li>
                    <a href="@Html.Raw(new ParentSummaryRequest(){ Id = Model.ParentId}.ToGetUrl())">Assessment &amp; Resources for @Model.ParentName</a>
                </li>
                <li class="active">@Model.Domain Assessment </li>
            </ol>
        </div>
    </div>
    <div class="row assessment">
        <div class="col-lg-12" style="padding-bottom: 20px;">
            <h3>Task Name <small>&nbsp;&nbsp;&nbsp; Question @Model.CurrentPage of @Model.TotalPages</small></h3>
            <p>
                <div class="row">
                    <div class="col-sm-9">
                        @Model.TaskPromptText
                    </div>
                    <div class="col-sm-3"><a href="#" data-toggle="modal" data-target="#myModal">Learn more about this task. (popup)</a></div>
                </div>
            </p>
            <p>&nbsp;</p>
            <div class="form-group">
                <label>Have you completed this task to your satisfaction for <strong>@Model.ParentName</strong>?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                </label>
            </div>


            <div class="form-group">
                <label>If not, when do you plan to complete this task for <strong>@Model.ParentName</strong>?</label><br />
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Within 1 month
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Within 3 months
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Within 6 months
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Within 12 months
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 12 months or longer
                </label>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Understanding a geriatric assessment</h4>
                </div>
                <div class="modal-body">

                    @Html.Raw(Model.TaskAssessmentText)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <a class="btn btn-primary" href="@Html.Raw(prevLink)">Previous Question</a>
        </div>

        <div class="col-sm-2 col-sm-offset-2">
            <a class="btn btn-primary" href="@Html.Raw(exitLink)">Exit Assessment</a>
        </div>

        <div class="col-sm-2 col-sm-offset-2">
            <a class="btn btn-primary" href="@Html.Raw(nextLink)">Next Question</a>
        </div>
    </div>

</div>
