@using ServiceStack
@using ServiceStack.Razor
@using AgeReadyNowSS.ServiceModel
@using AgeReadyNowSS.ServiceModel.Types

@inherits ViewPage<Parent>
@{
    Layout = "_Layout.cshtml";
    bool isEdit = (Model.Id == 0) ? false : true;
    string actionText = (Model.Id == 0) ? "Create" : "Edit";
}

<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">
                @actionText Care Recipient
                <span class="h4">
                    <a href="#" class="pull-right" style="padding-top:10px;" data-toggle="modal" data-target="#helpModal">
                        <i class="fa fa-question-circle"></i> Help on this page
                    </a>
                </span>
            </h2>

        </div>
    </div>

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>Home </li>
                @if (isEdit)
                {
                    <li class="active">Edit Care Recipient @Model.Name</li>
                }
                else
                {
                    <li class="active">Create Care Recipient</li>
                }
            </ol>



        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="padding-top: 50px;">

            <form action="@Html.Raw(new ParentRequest().ToPostUrl())" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Name:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="name" value="@Model.Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Age:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" name="age" value="@Model.Age" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">State:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="statecode" value="@Model.State" />
                    </div>
                </div>
                @if (Model.Id == 0)
                {
                    <input type="submit" value="Create" class="btn btn-success pull-right" />
                }
                else
                {
                    <input type="submit" value="Save" class="btn btn-success pull-right" />
                }
            </form>



            @if (Model.Id != 0)
            {
                <form action="@Html.Raw((new ParentRequest() { Id = Model.Id}).ToDeleteUrl())" method="delete">
                    <input type="submit" value="Delete" class="btn btn-danger pull-left disabled" onclick="" />
                </form>
            }
        </div>


    </div>
</div>
