@using ServiceStack;
@using ServiceStack.Razor
@using AgeReadyNowSS.ServiceModel
@using AgeReadyNowSS.ServiceModel.Types

@inherits ViewPage<ParentSummaryResponse>

@{
    Layout = "_Layout";

    var medicalAssessment = new AssessmentRequest()
    {
        Domain = "Medical",
        ParentId = Model.Id,
        NextPage = 0
    }.ToGetUrl();

    var medicalResources = new ResourceRequest()
    {
        Domain = "Medical",
        ParentId = Model.Id
    }.ToGetUrl();

    var legalAssessment = new AssessmentRequest()
    {
        Domain = "Legal",
        ParentId = Model.Id,
        NextPage = 0
    }.ToGetUrl();

    var legalResources = new ResourceRequest()
    {
        Domain = "Legal",
        ParentId = Model.Id
    }.ToGetUrl();
    
    var familyAssessment = new AssessmentRequest()
    {
        Domain = "Family",
        ParentId = Model.Id,
        NextPage = 0
    }.ToGetUrl();

    var familyResources = new ResourceRequest()
    {
        Domain = "Family",
        ParentId = Model.Id
    }.ToGetUrl();

    var spiritualAssessment = new AssessmentRequest()
    {
        Domain = "Spiritual",
        ParentId = Model.Id,
        NextPage = 0
    }.ToGetUrl();

    var spiritualResources = new ResourceRequest()
    {
        Domain = "Spiritual",
        ParentId = Model.Id
    }.ToGetUrl();
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Caregiving Domains
                <span class="h4">
                    <a href="#" class="pull-right" style="padding-top:10px;" data-toggle="modal" data-target="#helpModal">
                        <i class="fa fa-question-circle"></i> Help on this page
                    </a>
                </span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="@Html.Raw(new HomeRequest().ToGetUrl())">Home</a>
                </li>
                <li class="active">Assessment &amp; Resources for @Model.Name </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="padding-bottom: 20px;">
            This screen contains the AgeReady summary for <strong>@Model.Name</strong>.  The AgeReady program has broken down the critical preparedness tasks
            into one of four domains:  Medical, Legal &amp; Financial, Family &amp; Social, and Spiritual &amp; Emotional.  Each of these domains of caregiving
            has an assessment tailored specifically for @Model.Name, and a set of resources to help you better understand and complete the preparedness tasks
            in that domain.
        </div>
    </div>

    <!-- /.row -->
    <!-- Domain Panels -->

    <div class="row">

        <!-- Medical-->
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4><i class="fa fa-user-md"></i> Medical</h4>
                </div>
                <div class="panel-body">
                    <h2> @Model.MedicalScore %</h2>
                </div>
                <div class="panel-body" style="border-top: 1px solid #ddd;">

                    <a href="@Html.Raw(medicalAssessment)" class="btn btn-primary">Begin Assessment</a>
                    <a href="@Html.Raw(medicalResources)" class="btn btn-primary" style="margin-top: 10px;">View Resources</a>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a href="#about-medical">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Legal & Financial -->
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4><i class="fa fa-usd"></i> Legal &amp; Financial</h4>
                </div>
                <div class="panel-body">
                    <h2> @Model.LegalScore %</h2>
                </div>
                <div class="panel-body" style="border-top: 1px solid #ddd;">

                    <a href="@Html.Raw(legalAssessment)" class="btn btn-primary">Continue Assessment</a>
                    <a href="@Html.Raw(legalResources)" class="btn btn-primary" style="margin-top: 10px;">View Resources</a>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a href="#about-legal-financial">Learn More</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Family & Social -->
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4><i class="fa fa-users"></i> Family &amp; Social</h4>
                </div>
                <div class="panel-body">
                    <h2> @Model.FamilyScore %</h2>
                </div>
                <div class="panel-body" style="border-top: 1px solid #ddd;">

                    <a href="@Html.Raw(familyAssessment)" class="btn btn-primary">Continue Assessment</a>
                    <a href="@Html.Raw(familyResources)" class="btn btn-primary" style="margin-top: 10px;">View Resources</a>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a href="#about-family-social">Learn More</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Spiritual & Emotional -->
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4><i class="fa fa-heart"></i> Spiritual &amp; Emotional</h4>
                </div>
                <div class="panel-body">
                    <h2> @Model.SpiritualScore %</h2>
                </div>
                <div class="panel-body" style="border-top: 1px solid #ddd;">

                    <a href="@Html.Raw(spiritualAssessment)" class="btn btn-primary">Continue Assessment</a>
                    <a href="@Html.Raw(spiritualResources)" class="btn btn-primary" style="margin-top: 10px;">View Resources</a>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a href="#about-spiritual-emotional">Learn More</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!-- Medical -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" id="about-medical">
                Medical Domain
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-md-6">
            <p>Flavor text discussing the importance of the medical domain.</p>
        </div>
    </div>

    <!-- Legal & Financial -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" id="about-legal-financial">
                Legal &amp; Financial Domain
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Flavor text discussing the importance of the legal &amp; financial domain.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
    </div>


    <!-- Family & Social -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" id="about-family-social">
                Family &amp; Social Domain
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-md-6">
            <p>Flavor text discussing the importance of the family &amp; social domain.</p>
        </div>
    </div>

    <!-- Spiritual & Emotional -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" id="about-spiritual-emotional">
                Spiritual &amp; Emotional Domain
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-md-6">
            <p>Flavor text discussing the importance of the spiritual &amp; emotional domain.</p>
        </div>
    </div>

</div>